# Nix emacs temp files
*~
\#*\#
*pyc
*.swp
ashs/.config.json
ashs/T1_3D_0.8x0.8x0.8_7.nii.gz
ashs/T1_3D_0.8x0.8x0.8_ND.dicom.zip
ashs/T2_2D_0.4x0.4x1.2mm_180flip_ND.dicom.zip
ashs/config.json
ashs/config.json.hold
ashs/groupfiles/
ashs/output/
ashs/projectfiles/
ashsharpicv/context
ashsharpicv/de-identification.yaml.url
ashsharpicv/gear-ashs.json
ashsharpicv/gear-config.json
ashsharpicv/groupfiles/
ashsharpicv/manifest.old.json
ashsharpicv/projectfiles/
bin/foo.py
